@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  	font-family: 'Muli', sans-serif;
}
* {
	box-sizing: border-box;
}
.row:before, 
.row:after {
	content: "";
	display: table ;
	clear: both;
 }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
	background: url(img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 5px;
}
.text {
	padding: 2% 5%;
}
li {
	font-weight: bold;
}

button {
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 3px 5px;
	cursor: pointer;
	background-color: #3498db;
}
input {
	font-size: 18px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 3px;
	background-color: #dfe4ea;
}
button, input {
	border-radius: 5px;
	border: 0.5px solid #5389a5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
@media (max-width: 767px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    img {
    	margin-top: 10px;
    }
}
